.main-nav{
  display: flex;
  font-size: 1.75rem;
  text-transform: uppercase;
  margin: 50px 20px 0 20px;
  list-style: none;
}
.main-nav li{
  margin-left: 30px;
}
.current-message{
  background-color: #aaa ;
  border: solid black;
}
.current-answer{
  color: #fff;
  background-color: black;
  border:solid aqua;
}
.containers{
  background-color: #aaa ;
  border: solid black;
}
.loading{
  color: #fff;
  background-color: black;
  border: solid aqua;
}

.container{
  background-color: hsl(125, 90%, 23%);
}
nav{
  color: brown;
  background-color: black;
  border: solid #aaa;
  width: 100%;
  height: 15%;
}
table{
  background-color: #aaa;
  border: solid black;
  height: 15%;
  }