/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.main-nav{
  display: flex;
  font-size: 1.75rem;
  text-transform: uppercase;
  margin: 50px 20px 0 20px;
  list-style: none;
}
.main-nav li{
  margin-left: 30px;
}
.current-message{
  background-color: #aaa ;
  border: solid black;
}
.current-answer{
  color: #fff;
  background-color: black;
  border: aqua;
}
.container{
  background-color: #aaa ;
  border: black;
}
.loading{
  color: #fff;
  background-color: black;
  border: aqua;
}
nav{
  color: brown;
  background-color: black;
  border: solid #aaa;
  width: 100%;
  height: 15%;
}
table{
  background-color: #aaa;
  border: solid black;
  height: 15%;
  }

h2{
  color: blue;
}

button[type="submit"]{
  border: 1px solid skyblue;
}
